## 데이터 전처리
 - 일별로 누적 확진자 수와 누적 사망자 수로 나와있던 데이터를 그 당일 확진자와 사망자가 나오도록 전처리 작업을 실행

In [1]:
import pandas as pd
import csv

df=pd.read_csv('101_DT_COVID19_004_20211107144457.csv')
df.head()

  국가별            시점  확진자수[명]  사망자수[명]
0  한국  2021. 01. 01    61769      917
1  한국  2021. 01. 02    62593      942
2  한국  2021. 01. 03    63244      962
3  한국  2021. 01. 04    64264      981
4  한국  2021. 01. 05    64979     1007

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26424 entries, 0 to 26423
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      26424 non-null  object
 1   시점       26424 non-null  object
 2   확진자수[명]  26424 non-null  int64
 3   사망자수[명]  26424 non-null  int64
dtypes: int64(2), object(2)
memory usage: 825.9+ KB

In [3]:
ndf = pd.DataFrame(columns = ['국가별', '시점', '확진자수[명]','사망자수[명]'])

In [4]:
ndf = ndf.astype({'확진자수[명]':'int64'})
ndf = ndf.astype({'사망자수[명]':'int64'})

In [5]:
ndf.head()

Empty DataFrame
Columns: [국가별, 시점, 확진자수[명], 사망자수[명]]
Index: []

In [6]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      0 non-null      object
 1   시점       0 non-null      object
 2   확진자수[명]  0 non-null      int64
 3   사망자수[명]  0 non-null      int64
dtypes: int64(2), object(2)
memory usage: 0.0+ bytes

In [7]:
country=""
p=0
t=0
for row in df.itertuples():
    if(row[1] != country ):
        country = row[1]
        p=row[3]
        t=row[4]
        ndf = ndf.append({'국가별':row[1], '시점':row[2], '확진자수[명]':row[3],'사망자수[명]':row[4]}, ignore_index=True)
    else:
        ndf= ndf.append({'국가별':row[1], '시점':row[2], '확진자수[명]':row[3]-p,'사망자수[명]':row[4]-t}, ignore_index=True)
        p=row[3]
        t=row[4]

In [8]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26424 entries, 0 to 26423
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      26424 non-null  object
 1   시점       26424 non-null  object
 2   확진자수[명]  26424 non-null  int64
 3   사망자수[명]  26424 non-null  int64
dtypes: int64(2), object(2)
memory usage: 825.9+ KB

In [9]:
ndf.head()

  국가별            시점  확진자수[명]  사망자수[명]
0  한국  2021. 01. 01    61769      917
1  한국  2021. 01. 02      824       25
2  한국  2021. 01. 03      651       20
3  한국  2021. 01. 04     1020       19
4  한국  2021. 01. 05      715       26

In [10]:
ndf.to_csv('일일확진자.csv', index=False, header=False, encoding='utf8')