## 데이터 전처리
 - 일별로 누적 확진자 수와 누적 사망자 수로 나와있던 데이터를 그 당일 확진자와 사망자가 나오도록 전처리 작업을 실행

In [1]:
import pandas as pd
import csv

df=pd.read_csv('101_DT_COVID19_004_20211205155415.csv')
df.head()

  국가별            시점  확진자수[명]  사망자수[명]
0  한국  2020. 05. 01    10774      248
1  한국  2020. 05. 02    10780      250
2  한국  2020. 05. 03    10793      250
3  한국  2020. 05. 04    10801      252
4  한국  2020. 05. 05    10793      250

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29444 entries, 0 to 29443
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      29444 non-null  object
 1   시점       29444 non-null  object
 2   확진자수[명]  29444 non-null  int64
 3   사망자수[명]  29444 non-null  int64
dtypes: int64(2), object(2)
memory usage: 920.2+ KB

In [3]:
ndf = pd.DataFrame(columns = ['국가별', '시점', '확진자수[명]','사망자수[명]'])

In [4]:
ndf = ndf.astype({'확진자수[명]':'int64'})
ndf = ndf.astype({'사망자수[명]':'int64'})

In [5]:
ndf.head()

Empty DataFrame
Columns: [국가별, 시점, 확진자수[명], 사망자수[명]]
Index: []

In [6]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      0 non-null      object
 1   시점       0 non-null      object
 2   확진자수[명]  0 non-null      int64
 3   사망자수[명]  0 non-null      int64
dtypes: int64(2), object(2)
memory usage: 0.0+ bytes

In [7]:
country=""
p=0
t=0
for row in df.itertuples():
    if(row[1]=='기타지역 영토'):
        continue
    if(row[1] != country ):
        country = row[1]
        p=row[3]
        t=row[4]
        ndf = ndf.append({'국가별':row[1], '시점':row[2], '확진자수[명]':row[3],'사망자수[명]':row[4]}, ignore_index=True)
    else:
        ndf= ndf.append({'국가별':row[1], '시점':row[2], '확진자수[명]':row[3]-p,'사망자수[명]':row[4]-t}, ignore_index=True)
        p=row[3]
        t=row[4]

In [8]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29444 entries, 0 to 29443
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      29444 non-null  object
 1   시점       29444 non-null  object
 2   확진자수[명]  29444 non-null  int64
 3   사망자수[명]  29444 non-null  int64
dtypes: int64(2), object(2)
memory usage: 920.2+ KB

In [9]:
ndf.head()

  국가별            시점  확진자수[명]  사망자수[명]
0  한국  2020. 05. 01    10774      248
1  한국  2020. 05. 02        6        2
2  한국  2020. 05. 03       13        0
3  한국  2020. 05. 04        8        2
4  한국  2020. 05. 05       -8       -2

In [10]:
ndf.to_csv('korona_world.csv', index=False, header=False, encoding='utf8')