## 데이터 전처리
 - 일별로 누적 확진자 수와 누적 사망자 수로 나와있던 데이터를 그 당일 확진자와 사망자가 나오도록 전처리 작업을 실행

In [1]:
import pandas as pd
import csv

df1=pd.read_csv('101_DT_COVID19_004_20211107144457.csv')
df1.head()

  국가별            시점  확진자수[명]  사망자수[명]
0  한국  2021. 01. 01    61769      917
1  한국  2021. 01. 02    62593      942
2  한국  2021. 01. 03    63244      962
3  한국  2021. 01. 04    64264      981
4  한국  2021. 01. 05    64979     1007

In [2]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30224 entries, 0 to 30223
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      30224 non-null  object
 1   시점       30224 non-null  object
 2   확진자수[명]  30224 non-null  int64
 3   사망자수[명]  30224 non-null  int64
dtypes: int64(2), object(2)
memory usage: 944.6+ KB

In [3]:
df2 = pd.read_csv('101_DT_COVID19_004_20211205130540.csv')
df2.head()

  국가별            시점  확진자수[명]  사망자수[명]
0  한국  2020. 05. 01    10774      248
1  한국  2020. 05. 02    10780      250
2  한국  2020. 05. 03    10793      250
3  한국  2020. 05. 04    10801      252
4  한국  2020. 05. 05    10793      250

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36554 entries, 0 to 36553
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      36554 non-null  object
 1   시점       36554 non-null  object
 2   확진자수[명]  36554 non-null  int64
 3   사망자수[명]  36554 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.1+ MB

In [5]:
df = pd.concat([df2,df1])
df.head()

  국가별            시점  확진자수[명]  사망자수[명]
0  한국  2020. 05. 01    10774      248
1  한국  2020. 05. 02    10780      250
2  한국  2020. 05. 03    10793      250
3  한국  2020. 05. 04    10801      252
4  한국  2020. 05. 05    10793      250

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66778 entries, 0 to 30223
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      66778 non-null  object
 1   시점       66778 non-null  object
 2   확진자수[명]  66778 non-null  int64
 3   사망자수[명]  66778 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.5+ MB

In [7]:
ndf = pd.DataFrame(columns = ['국가별', '시점', '확진자수[명]','사망자수[명]'])

In [8]:
ndf = ndf.astype({'확진자수[명]':'int64'})
ndf = ndf.astype({'사망자수[명]':'int64'})

In [9]:
ndf.head()

Empty DataFrame
Columns: [국가별, 시점, 확진자수[명], 사망자수[명]]
Index: []

In [10]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      0 non-null      object
 1   시점       0 non-null      object
 2   확진자수[명]  0 non-null      int64
 3   사망자수[명]  0 non-null      int64
dtypes: int64(2), object(2)
memory usage: 0.0+ bytes

In [12]:
country=""
p=0
t=0
for row in df.itertuples():
    if(row[1]=='기타지역 영토'):
        continue
    if(row[1] != country ):
        country = row[1]
        p=row[3]
        t=row[4]
        ndf = ndf.append({'국가별':row[1], '시점':row[2], '확진자수[명]':row[3],'사망자수[명]':row[4]}, ignore_index=True)
    else:
        ndf= ndf.append({'국가별':row[1], '시점':row[2], '확진자수[명]':row[3]-p,'사망자수[명]':row[4]-t}, ignore_index=True)
        p=row[3]
        t=row[4]

In [13]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66481 entries, 0 to 66480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가별      66481 non-null  object
 1   시점       66481 non-null  object
 2   확진자수[명]  66481 non-null  int64
 3   사망자수[명]  66481 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.0+ MB

In [14]:
ndf.head()

  국가별            시점  확진자수[명]  사망자수[명]
0  한국  2020. 05. 01    10774      248
1  한국  2020. 05. 02        6        2
2  한국  2020. 05. 03       13        0
3  한국  2020. 05. 04        8        2
4  한국  2020. 05. 05       -8       -2

In [16]:
ndf.to_csv('korona_world.csv', index=False, header=False, encoding='utf8')